<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nationalities</title>
</head>
<body>
<header th:insert="fragments/header :: header"/>
<h1>Националности</h1>
<th:block th:if="${message}">
  <div th:class="${#strings.startsWith(message, 'Успех:') ? 'success' : 'error'}">
    <h1 th:text="${message}"></h1>
  </div>
</th:block>
<table border="1">
  <thead>
  <tr>
    <th>Име</th>
    <th>Население</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="nationality : ${nationalities}">
    <td th:text="${nationality.name}"></td>
    <td th:text="${nationality.population}"></td>
  </tr>
  </tbody>
</table>
<footer th:insert="fragments/footer :: footer">

</body>
</html>